:root {
	--steel :	#eee;
	--fire :	#fba;
	--grass :	#beb;
	--electric :	#fda;
	--water :	#bdf;
	--ice :	#dff;
	--ground :	#ccb;
	--rock :	#bbb;
	--fairy :	#fbd;
	--poison :	#cad;
	--bug :	#cdc;
	--dragon :	#bce;
	--psychic :	#fdf;
	--flying :	#fdd;
	--fighting :	#dcc;
	--normal :	#ddc;
	--ghost : #aad;
}

body {
	background: #fff;
	color: white;
	margin: 0;
	font-family: rubik;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 54px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
	max-width: 300px;

}

.card::after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.steel {
	background-color: var(--steel);
}

.fire {
	background-color: var(--fire);
}

.grass {
	background-color: var(--grass);
}

.electric {
	background-color: var(--electric);
}

.water {
	background-color: var(--water);
}

.ice {
	background-color: var(--ice);
}

.ground {
	background-color: var(--ground);
}

.rock {
	background-color: var(--rock);
}

.fairy {
	background-color: var(--fairy);
}

.poison {
	background-color: var(--poison);
}

.bug {
	background-color: var(--bug);
}

.dragon {
	background-color: var(--dragon);
}

.psychic {
	background-color: var(--psychic);
}

.flying {
	background-color: var(--flying);
}

.fighting {
	background-color: var(--fighting);
}

.normal {
	background-color: var(--normal);
}

.ghost {
	background-color: var(--ghost);
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: #666;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}